.catalog {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  max-width: 1201px;
  margin: auto;
}

.catalog__title {
  font-weight: 700;
  font-size: 30px;
  color: var(--text);
  width: 100%;
  text-align: start;
}

.catalog__content {
  display: flex;
  justify-content: space-between;
  grid-column-gap: 20px;
}

.Parameters {
  flex: 1;
  margin-right: 20px;
} 

.catalog__list {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

.catalog__card {
  cursor: pointer;
}

.catalog__card-img {
  width: 280px;
  height: 295px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog__card-name {
  font-weight: 600;
  font-size: 16px;
  color: var(--text);
}

.catalog__card-price {
  font-weight: 400;
  font-size: 20px;
  color: var(--text);
}

.catalog__button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
