.navigation-container {
  display: flex;
  justify-content: space-between;
  width: 1201px;
  height: 49px;
}

.navigation-logo{
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}

.navigation-menu {
  display: flex;
  align-items: center;
}

.navigation-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  margin-left: 36px;
  display: flex;
  align-items: center;
}

.navigation-link svg {
  margin-left: 28px;
}
