.button {
  font-family: var(--font-family);
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
}

.button--filled {
  border: 1px solid var(--sec-bg);
  background: var(--text);
  border-radius: 4px;
  padding: 20px 50px;
  color: #fff;
}

.button--outlined {
  border: 1px solid var(--text);
  background: transparent;
  border-radius: 4px;
  padding: 25px 50px;
  color: var(--text);
}

.button--flat {
  background: transparent;
  border: none;
  color: var(--text);
}

.button--active {
  border: none;
  background: var(--accent);
  border-radius: 4px;
  padding: 25px 50px;
  color: #fff;
}

.button:hover {
  filter: brightness(90%);
}
