.header {
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 1201px;
  height: 49px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.header-logo{
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  margin-left: 36px;
  display: flex;
  align-items: center;
}

.header-link svg {
  margin-left: 28px;
}
