.parameters {
  width: 240px;
  background-color: #FFF4EE;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: fit-content;
}

.parameters__title {
  font-weight: 600;
  font-size: 24px;
  color: var(--text);
  margin: 0;
}

.parameters__button {
  width: 100%;
}

.parameters__categories-title {
  font-weight: 600;
  font-size: 16px;
  color: var(--text);
  margin: 0;
}

.parameters__categories-container {
  display: grid;
  border: 1px solid #DBBBA9;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 57px);
  width: 100%;
  gap: 0;
}

.parameters__category {
  border: 1px solid #DBBBA9;
  background-color: transparent;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: var(--text);
  min-height: 57px;
  padding: 0 5px  ;
}

.parameters__category:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
