@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: Jost, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg: #484283;
	--accent: #f14f4f;
	--text: #444b58;
	--small-text: #dbbba9;
	--sec-bg: #fff4ee;
	--gray: #b2b5bb;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 80px;
}