.navigation {
  display: flex;
  justify-content: space-between;
  max-width: 1201px;
  width: 100%;
  height: 49px;
}

.navigation__logo{
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}

.navigation__menu {
  display: flex;
  align-items: center;
}

.navigation__link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  margin-left: 36px;
  display: flex;
  align-items: center;
}

.navigation__link svg {
  margin-left: 28px;
}
